### Data Cleaning

In [64]:
import pandas as pd
import numpy as np

##creating dataframe

In [65]:
data_uni = pd.read_excel("Data Uni Dissertation.xlsx")

data_uni

,Course,UCAS,25 Above,Disability,Ethnicity,Gender,British,English native Language,Parent He attendance,Polar 4 Score,...,Overall AWM,Progress,First Sit,Second Sit,Fails,No Submissions,Late Submission,Pass,Re Takes,desertion
0,BA Business Manangement Enterpreneurship and I...,no,no,no,Asian,Male,no,no,yes,4.0,...,62.000000,yes,3,3.0,0,2,2,100.000000,yes,no
1,BA Business Management,no,no,no,White,Male,no,no,yes,2.0,...,36.000000,no,1,2.0,5,3,0,83.333333,no,yes
2,BA Business Management Enterpreneurship and In...,no,no,no,Asian,Male,yes,yes,yes,4.0,...,41.000000,yes,6,0.0,0,0,0,100.000000,no,yes
3,BA Business Management,no,yes,no,White,Female,no,no,no,3.0,...,42.000000,yes,6,0.0,0,0,0,100.000000,no,yes
4,BA Business Management Enterpreneurship and In...,no,no,no,Asian,Male,yes,yes,yes,4.0,...,54.333333,yes,4,2.0,0,2,0,100.000000,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1028,BA,yes,no,no,Other ethnic background,Female,no,yes,no,5.0,...,45.000000,yes,6,0.0,0,0,1,100.000000,no,yes
1029,BA,yes,no,no,NaN,Male,yes,yes,yes,4.0,...,77.000000,yes,6,0.0,0,0,0,100.000000,no,no
1030,BA,no,yes,no,Asian,Female,no,no,no,3.0,...,33.000000,no,1,1.0,2,4,1,33.333333,yes,yes
1031,BA,no,yes,no,Other ethnic background,Male,no,no,yes,4.0,...,76.000000,yes,6,0.0,0,0,0,100.000000,no,no
1032,BA,no,yes,no,Other ethnic background,Female,no,no,no,NaN,...,80.000000,yes,6,0.0,0,0,0,100.000000,no,no

In [66]:
data_uni.size

37188

In [67]:
data_uni.head(10)
data_uni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Course                      1031 non-null   object
 1   UCAS                        1033 non-null   object
 2   25 Above                    1033 non-null   object
 3   Disability                  1033 non-null   object
 4   Ethnicity                   1020 non-null   object
 5   Gender                      1033 non-null   object
 6   British                     962 non-null    object
 7   English native Language     964 non-null    object
 8   Parent He attendance        996 non-null    object
 9   Polar 4 Score               915 non-null    float64
 10  SLC                         1033 non-null   object
 11  Care Leaver                 875 non-null    object
 12  Student Visa                964 non-null    object
 13  Refugee                     1026 non-null   object
 14  London Permanent Residence  1028 non-null   object
 15  UCAS Points                 979 non-null    float64
 16  English                     873 non-null    float64
 17  Maths                       872 non-null    float64
 18  A Levels                    973 non-null    object
 19  Btec                        924 non-null    object
 20  Previous work               1030 non-null   object
 21  Bursary                     871 non-null    object
 22  Attendance                  1033 non-null   int64
 23  AWM year 1                  1033 non-null   int64
 24  AWM year 2                  924 non-null    float64
 25  AWM year 3                  765 non-null    float64
 26  Overall AWM                 1033 non-null   float64
 27  Progress                    1033 non-null   object
 28  First Sit                   1033 non-null   int64
 29  Second Sit                  1026 non-null   float64
 30  Fails                       1033 non-null   int64
 31  No Submissions              1033 non-null   int64
 32  Late Submission             1033 non-null   int64
 33  Pass                        1033 non-null   float64
 34  Re Takes                    1033 non-null   object
 35  desertion                   1033 non-null   object
dtypes: float64(9), int64(6), object(21)
memory usage: 290.7+ KB

# Exploring Data

In [68]:
#generating profiling report

from pandas_profiling import ProfileReport

In [69]:
#report = ProfileReport(data_uni)
#report.to_file(output_file= "report.html")

#Cleaning data

In [70]:
# treating inconsistent values

def trimmer(df):
    column_list = []

    for (columnName, columnData) in df.iteritems():
       
        if columnData.dtype == "object":

            df_replace = columnData.str.strip()

            column_list.append(df_replace)
        else:
            column_list.append(columnData)
            

    return (pd.DataFrame(column_list))

trimmer(data_uni)

,0,1,2,3,4,5,6,7,8,9,...,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032
Course,BA Business Manangement Enterpreneurship and I...,BA Business Management,BA Business Management Enterpreneurship and In...,BA Business Management,BA Business Management Enterpreneurship and In...,BA Business Management Enterpreneurship and In...,BA Business Management Marketing,BA Business Management Enterpreneurship and In...,BA Business Management Enterpreneurship and In...,BA Business Management,...,BA,BA,BA,BA,BA,BA,BA,BA,BA,BA
UCAS,no,no,no,no,no,yes,yes,yes,yes,yes,...,yes,yes,yes,yes,yes,yes,yes,no,no,no
25 Above,no,no,no,yes,no,no,no,no,no,no,...,no,yes,no,yes,yes,no,no,yes,yes,yes
Disability,no,no,no,no,no,no,no,no,no,no,...,no,no,no,no,no,no,no,no,no,no
Ethnicity,Asian,White,Asian,White,Asian,Asian,White,White,White,White,...,Asian,White,NaN,NaN,NaN,Other ethnic background,NaN,Asian,Other ethnic background,Other ethnic background
Gender,Male,Male,Male,Female,Male,Male,Male,Male,Male,Female,...,Male,Male,Male,Female,Male,Female,Male,Female,Male,Female
British,no,no,yes,no,yes,yes,no,yes,yes,yes,...,no,yes,yes,no,yes,no,yes,no,no,no
English native Language,no,no,yes,no,yes,yes,yes,yes,yes,yes,...,no,NaN,NaN,no,no,yes,yes,no,no,no
Parent He attendance,yes,yes,yes,no,yes,yes,no,no,no,no,...,yes,no,yes,yes,yes,no,yes,no,yes,no
Polar 4 Score,4.0,2.0,4.0,3.0,4.0,3.0,5.0,4.0,2.0,NaN,...,5.0,3.0,4.0,3.0,2.0,5.0,4.0,3.0,4.0,NaN
SLC,no,yes,yes,yes,yes,yes,no,yes,no,no,...,yes,yes,yes,yes,yes,yes,yes,no,yes,no
Care Leaver,no,no,no,no,no,no,no,no,no,no,...,no,no,NaN,NaN,NaN,NaN,no,no,no,no
Student Visa,yes,no,no,no,no,no,yes,no,no,no,...,no,no,no,no,no,no,no,no,no,yes
Refugee,no,no,no,no,no,no,no,no,no,no,...,no,no,no,no,no,no,no,no,no,no
London Permanent Residence,yes,no,yes,yes,yes,yes,no,yes,yes,no,...,no,no,no,no,yes,no,yes,no,no,no
UCAS Points,98.0,101.0,129.0,110.0,130.0,112.0,89.0,103.0,128.0,91.0,...,107.0,103.0,100.0,113.0,118.0,102.0,109.0,104.0,101.0,104.0
English,5.0,5.0,4.0,9.0,6.0,6.0,6.0,4.0,4.0,4.0,...,6.0,5.0,5.0,3.0,5.0,4.0,4.0,6.0,6.0,8.0
Maths,4.0,5.0,4.0,8.0,5.0,4.0,5.0,5.0,4.0,4.0,...,7.0,6.0,4.0,6.0,5.0,4.0,4.0,5.0,6.0,4.0
A Levels,yes,yes,yes,yes,yes,no,yes,yes,no,no,...,no,no,yes,no,yes,yes,yes,yes,no,no
Btec,no,no,no,no,no,yes,no,no,yes,no,...,yes,yes,no,yes,no,no,no,no,yes,no
Previous work,yes,yes,yes,yes,yes,no,no,no,no,no,...,no,yes,yes,no,yes,yes,yes,yes,no,no
Bursary,no,yes,no,no,no,no,no,no,yes,no,...,no,no,no,no,yes,no,no,no,no,no
Attendance,86,55,57,48,83,71,96,67,89,92,...,96,67,70,64,96,55,66,42,60,71
AWM year 1,85,40,41,41,55,46,78,43,76,49,...,80,40,53,73,68,45,77,33,76,80
AWM year 2,58.0,32.0,NaN,43.0,49.0,46.0,70.0,85.0,58.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWM year 3,43.0,NaN,NaN,NaN,59.0,43.0,79.0,61.0,44.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Overall AWM,62.0,36.0,41.0,42.0,54.333333,45.0,75.666667,63.0,59.333333,66.333333,...,80.0,40.0,53.0,73.0,68.0,45.0,77.0,33.0,76.0,80.0
Progress,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,...,yes,yes,yes,yes,yes,yes,yes,no,yes,yes
First Sit,3,1,6,6,4,3,4,3,6,6,...,6,1,6,3,3,6,6,1,6,6
Second Sit,3.0,2.0,0.0,0.0,2.0,3.0,2.0,3.0,0.0,0.0,...,0.0,5.0,0.0,3.0,3.0,0.0,0.0,1.0,0.0,0.0
Fails,0,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
No Submissions,2,3,0,0,2,0,0,3,0,1,...,0,3,0,2,1,0,0,4,0,0
Late Submission,2,0,0,0,0,1,2,0,0,1,...,1,0,1,1,0,1,0,1,0,0
Pass,100.0,83.333333,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,33.333333,100.0,100.0
Re Takes,yes,no,no,no,no,no,no,no,no,no,...,no,no,no,no,no,no,no,yes,no,no
desertion,no,yes,yes,yes,no,no,no,no,no,no,...,no,no,no,no,no,yes,no,yes,no,no

In [71]:
# creating a new df after trimming 
data_uni_df = trimmer(data_uni)
data_uni_df = data_uni_df.transpose( copy = True)
data_uni_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Course                      1031 non-null   object
 1   UCAS                        1033 non-null   object
 2   25 Above                    1033 non-null   object
 3   Disability                  1033 non-null   object
 4   Ethnicity                   1020 non-null   object
 5   Gender                      1033 non-null   object
 6   British                     962 non-null    object
 7   English native Language     964 non-null    object
 8   Parent He attendance        996 non-null    object
 9   Polar 4 Score               915 non-null    object
 10  SLC                         1033 non-null   object
 11  Care Leaver                 875 non-null    object
 12  Student Visa                964 non-null    object
 13  Refugee                     1026 non-null   object
 14  London Permanent Residence  1028 non-null   object
 15  UCAS Points                 979 non-null    object
 16  English                     873 non-null    object
 17  Maths                       872 non-null    object
 18  A Levels                    973 non-null    object
 19  Btec                        924 non-null    object
 20  Previous work               1030 non-null   object
 21  Bursary                     871 non-null    object
 22  Attendance                  1033 non-null   object
 23  AWM year 1                  1033 non-null   object
 24  AWM year 2                  924 non-null    object
 25  AWM year 3                  765 non-null    object
 26  Overall AWM                 1033 non-null   object
 27  Progress                    1033 non-null   object
 28  First Sit                   1033 non-null   object
 29  Second Sit                  1026 non-null   object
 30  Fails                       1033 non-null   object
 31  No Submissions              1033 non-null   object
 32  Late Submission             1033 non-null   object
 33  Pass                        1033 non-null   object
 34  Re Takes                    1033 non-null   object
 35  desertion                   1033 non-null   object
dtypes: object(36)
memory usage: 290.7+ KB

In [72]:


#saving the new data frame
data_uni_df.to_csv("data_uni.csv", index = False)
data_uni_2 = pd.read_csv("data_uni.csv")
data_uni_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Course                      1031 non-null   object
 1   UCAS                        1033 non-null   object
 2   25 Above                    1033 non-null   object
 3   Disability                  1033 non-null   object
 4   Ethnicity                   1020 non-null   object
 5   Gender                      1033 non-null   object
 6   British                     962 non-null    object
 7   English native Language     964 non-null    object
 8   Parent He attendance        996 non-null    object
 9   Polar 4 Score               915 non-null    float64
 10  SLC                         1033 non-null   object
 11  Care Leaver                 875 non-null    object
 12  Student Visa                964 non-null    object
 13  Refugee                     1026 non-null   object
 14  London Permanent Residence  1028 non-null   object
 15  UCAS Points                 979 non-null    float64
 16  English                     873 non-null    float64
 17  Maths                       872 non-null    float64
 18  A Levels                    973 non-null    object
 19  Btec                        924 non-null    object
 20  Previous work               1030 non-null   object
 21  Bursary                     871 non-null    object
 22  Attendance                  1033 non-null   int64
 23  AWM year 1                  1033 non-null   int64
 24  AWM year 2                  924 non-null    float64
 25  AWM year 3                  765 non-null    float64
 26  Overall AWM                 1033 non-null   float64
 27  Progress                    1033 non-null   object
 28  First Sit                   1033 non-null   int64
 29  Second Sit                  1026 non-null   float64
 30  Fails                       1033 non-null   int64
 31  No Submissions              1033 non-null   int64
 32  Late Submission             1033 non-null   int64
 33  Pass                        1033 non-null   float64
 34  Re Takes                    1033 non-null   object
 35  desertion                   1033 non-null   object
dtypes: float64(9), int64(6), object(21)
memory usage: 290.7+ KB

##inputing missing values

In [73]:
#filling nan with zeros
data_uni_2.iloc[:, [24,25,29]]= data_uni_df.iloc[:, [24,25,29]].fillna(0)

data_uni_2.info()

data_uni_2.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Course                      1031 non-null   object
 1   UCAS                        1033 non-null   object
 2   25 Above                    1033 non-null   object
 3   Disability                  1033 non-null   object
 4   Ethnicity                   1020 non-null   object
 5   Gender                      1033 non-null   object
 6   British                     962 non-null    object
 7   English native Language     964 non-null    object
 8   Parent He attendance        996 non-null    object
 9   Polar 4 Score               915 non-null    float64
 10  SLC                         1033 non-null   object
 11  Care Leaver                 875 non-null    object
 12  Student Visa                964 non-null    object
 13  Refugee                     1026 non-null   object
 14  London Permanent Residence  1028 non-null   object
 15  UCAS Points                 979 non-null    float64
 16  English                     873 non-null    float64
 17  Maths                       872 non-null    float64
 18  A Levels                    973 non-null    object
 19  Btec                        924 non-null    object
 20  Previous work               1030 non-null   object
 21  Bursary                     871 non-null    object
 22  Attendance                  1033 non-null   int64
 23  AWM year 1                  1033 non-null   int64
 24  AWM year 2                  1033 non-null   float64
 25  AWM year 3                  1033 non-null   float64
 26  Overall AWM                 1033 non-null   float64
 27  Progress                    1033 non-null   object
 28  First Sit                   1033 non-null   int64
 29  Second Sit                  1033 non-null   float64
 30  Fails                       1033 non-null   int64
 31  No Submissions              1033 non-null   int64
 32  Late Submission             1033 non-null   int64
 33  Pass                        1033 non-null   float64
 34  Re Takes                    1033 non-null   object
 35  desertion                   1033 non-null   object
dtypes: float64(9), int64(6), object(21)
memory usage: 290.7+ KB

Course                          2
UCAS                            0
25 Above                        0
Disability                      0
Ethnicity                      13
Gender                          0
British                        71
English native Language        69
Parent He attendance           37
Polar 4 Score                 118
SLC                             0
Care Leaver                   158
Student Visa                   69
Refugee                         7
London Permanent Residence      5
UCAS Points                    54
English                       160
Maths                         161
A Levels                       60
Btec                          109
Previous work                   3
Bursary                       162
Attendance                      0
AWM year 1                      0
AWM year 2                      0
AWM year 3                      0
Overall AWM                     0
Progress                        0
First Sit                       0
Second Sit                      0
Fails                           0
No Submissions                  0
Late Submission                 0
Pass                            0
Re Takes                        0
desertion                       0
dtype: int64

In [74]:
#imputing missing values with most frequent values
from sklearn.impute import SimpleImputer


imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(data_uni_2.iloc[:, [0,4,6,7,8,9,11,12,13,14,18,19,20,21]])
data_uni_2.iloc[:, [0,4,6,7,8,9,11,12,13,14,18,19,20,21]]= imputer.transform(data_uni_2.iloc[:, [0,4,6,7,8,9,11,12,13,14,18,19,20,21]])

data_uni_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Course                      1033 non-null   object
 1   UCAS                        1033 non-null   object
 2   25 Above                    1033 non-null   object
 3   Disability                  1033 non-null   object
 4   Ethnicity                   1033 non-null   object
 5   Gender                      1033 non-null   object
 6   British                     1033 non-null   object
 7   English native Language     1033 non-null   object
 8   Parent He attendance        1033 non-null   object
 9   Polar 4 Score               1033 non-null   float64
 10  SLC                         1033 non-null   object
 11  Care Leaver                 1033 non-null   object
 12  Student Visa                1033 non-null   object
 13  Refugee                     1033 non-null   object
 14  London Permanent Residence  1033 non-null   object
 15  UCAS Points                 979 non-null    float64
 16  English                     873 non-null    float64
 17  Maths                       872 non-null    float64
 18  A Levels                    1033 non-null   object
 19  Btec                        1033 non-null   object
 20  Previous work               1033 non-null   object
 21  Bursary                     1033 non-null   object
 22  Attendance                  1033 non-null   int64
 23  AWM year 1                  1033 non-null   int64
 24  AWM year 2                  1033 non-null   float64
 25  AWM year 3                  1033 non-null   float64
 26  Overall AWM                 1033 non-null   float64
 27  Progress                    1033 non-null   object
 28  First Sit                   1033 non-null   int64
 29  Second Sit                  1033 non-null   float64
 30  Fails                       1033 non-null   int64
 31  No Submissions              1033 non-null   int64
 32  Late Submission             1033 non-null   int64
 33  Pass                        1033 non-null   float64
 34  Re Takes                    1033 non-null   object
 35  desertion                   1033 non-null   object
dtypes: float64(9), int64(6), object(21)
memory usage: 290.7+ KB

In [81]:
#imputing missing values with median values
data_num = data_uni_2.select_dtypes(include="number")

imputer_2 = SimpleImputer(missing_values=np.nan, strategy='median')
imputer_2.fit(data_num.iloc[:, [1,2,3]])
data_num.iloc[:, [1,2,3]] = imputer_2.transform(data_num.iloc[:, [1,2,3]])

data_uni_2.iloc[:, [15,16,17]] = data_num.iloc[:, [1,2,3]]

data_uni_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Course                      1033 non-null   object
 1   UCAS                        1033 non-null   object
 2   25 Above                    1033 non-null   object
 3   Disability                  1033 non-null   object
 4   Ethnicity                   1033 non-null   object
 5   Gender                      1033 non-null   object
 6   British                     1033 non-null   object
 7   English native Language     1033 non-null   object
 8   Parent He attendance        1033 non-null   object
 9   Polar 4 Score               1033 non-null   float64
 10  SLC                         1033 non-null   object
 11  Care Leaver                 1033 non-null   object
 12  Student Visa                1033 non-null   object
 13  Refugee                     1033 non-null   object
 14  London Permanent Residence  1033 non-null   object
 15  UCAS Points                 1033 non-null   float64
 16  English                     1033 non-null   float64
 17  Maths                       1033 non-null   float64
 18  A Levels                    1033 non-null   object
 19  Btec                        1033 non-null   object
 20  Previous work               1033 non-null   object
 21  Bursary                     1033 non-null   object
 22  Attendance                  1033 non-null   int64
 23  AWM year 1                  1033 non-null   int64
 24  AWM year 2                  1033 non-null   float64
 25  AWM year 3                  1033 non-null   float64
 26  Overall AWM                 1033 non-null   float64
 27  Progress                    1033 non-null   object
 28  First Sit                   1033 non-null   int64
 29  Second Sit                  1033 non-null   float64
 30  Fails                       1033 non-null   int64
 31  No Submissions              1033 non-null   int64
 32  Late Submission             1033 non-null   int64
 33  Pass                        1033 non-null   float64
 34  Re Takes                    1033 non-null   object
 35  desertion                   1033 non-null   object
dtypes: float64(9), int64(6), object(21)
memory usage: 290.7+ KB

In [98]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

df_cat = data_uni_2.select_dtypes(exclude="number")
enc = OneHotEncoder(handle_unknown= "ignore")
df_cat= enc.fit_transform(df_cat)

df_cat

<1033x56 sparse matrix of type '<class 'numpy.float64'>'
	with 21693 stored elements in Compressed Sparse Row format>

In [76]:
#Generating new report with clean data
#report = ProfileReport(data_uni_df)
#eport.to_file(output_file= "report3.html")

In [87]:
 #splitting target value

y = data_uni_2.iloc[:, [-1]]
x = data_uni_2.iloc[:, 0:35]
#y.info()
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Course                      1033 non-null   object
 1   UCAS                        1033 non-null   object
 2   25 Above                    1033 non-null   object
 3   Disability                  1033 non-null   object
 4   Ethnicity                   1033 non-null   object
 5   Gender                      1033 non-null   object
 6   British                     1033 non-null   object
 7   English native Language     1033 non-null   object
 8   Parent He attendance        1033 non-null   object
 9   Polar 4 Score               1033 non-null   float64
 10  SLC                         1033 non-null   object
 11  Care Leaver                 1033 non-null   object
 12  Student Visa                1033 non-null   object
 13  Refugee                     1033 non-null   object
 14  London Permanent Residence  1033 non-null   object
 15  UCAS Points                 1033 non-null   float64
 16  English                     1033 non-null   float64
 17  Maths                       1033 non-null   float64
 18  A Levels                    1033 non-null   object
 19  Btec                        1033 non-null   object
 20  Previous work               1033 non-null   object
 21  Bursary                     1033 non-null   object
 22  Attendance                  1033 non-null   int64
 23  AWM year 1                  1033 non-null   int64
 24  AWM year 2                  1033 non-null   float64
 25  AWM year 3                  1033 non-null   float64
 26  Overall AWM                 1033 non-null   float64
 27  Progress                    1033 non-null   object
 28  First Sit                   1033 non-null   int64
 29  Second Sit                  1033 non-null   float64
 30  Fails                       1033 non-null   int64
 31  No Submissions              1033 non-null   int64
 32  Late Submission             1033 non-null   int64
 33  Pass                        1033 non-null   float64
 34  Re Takes                    1033 non-null   object
dtypes: float64(9), int64(6), object(20)
memory usage: 282.6+ KB

In [ ]:
# Splitting the dataset into the Training set and Test set
from scipy.sparse import csr_matrix
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 1)


# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train_num = x_train.select_dtypes(include="number")
col_names = x_train_num.columns

a = sc.fit_transform(x_train_num.to_numpy())
X_df_train_num = pd.DataFrame(a, columns = col_names)
X_df_train_num

In [95]:
# Encoding categorical data

,Course,UCAS,25 Above,Disability,Ethnicity,Gender,British,English native Language,Parent He attendance,SLC,Care Leaver,Student Visa,Refugee,London Permanent Residence,A Levels,Btec,Previous work,Bursary,Progress,Re Takes
286,ba,yes,no,no,White,Female,no,no,no,yes,no,no,no,no,yes,no,no,no,yes,no
600,BA,yes,no,no,Black/Black British African,Male,no,yes,no,no,no,yes,no,no,yes,no,no,no,no,no
691,BA,yes,yes,no,White,Female,yes,yes,yes,yes,no,no,no,yes,yes,no,yes,no,no,yes
474,ba,yes,no,no,Asian,Female,yes,yes,yes,yes,no,no,no,no,yes,no,no,no,yes,no
639,BA,yes,no,no,Black/Black British African,Female,no,no,no,yes,yes,no,no,no,yes,no,no,yes,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
960,ba,yes,no,yes,Black/Black British African,Female,yes,yes,no,yes,no,no,no,no,yes,no,yes,yes,no,yes
847,BA,yes,yes,no,White,Female,yes,yes,yes,yes,no,no,no,yes,yes,no,yes,no,no,no
715,ba,yes,no,yes,White,Male,no,no,yes,no,no,yes,no,yes,yes,no,yes,yes,yes,yes
905,ba,yes,no,no,Asian,Male,yes,no,no,yes,no,no,no,yes,yes,no,yes,yes,yes,no
235,ba,yes,no,yes,White,Male,yes,yes,yes,yes,no,no,no,no,no,yes,yes,yes,no,yes