### Data Cleaning

In [44]:
import pandas as pd
import numpy as np

##creating dataframe

In [53]:
data_uni = pd.read_excel("Data Uni Dissertation.xlsx")

data_uni

,Course,UCAS,25 Above,Disability,Ethnicity,Gender,desertion,British,English native Language,Parent He attendance,...,AWM year 3,Overall AWM,Progress,First Sit,Second Sit,Fails,No Submissions,Late Submission,Pass,Re Takes
0,BA Business Manangement Enterpreneurship and I...,no,no,no,Asian,Male,no,no,no,yes,...,43.0,62.000000,yes,3.0,3.0,0.0,2.0,2.0,100.000000,yes
1,BA Business Management,no,no,no,White,Male,yes,no,no,yes,...,NaN,36.000000,no,1.0,2.0,5.0,3.0,0.0,83.333333,no
2,BA Business Management Enterpreneurship and In...,no,no,no,Asian,Male,yes,yes,yes,yes,...,NaN,41.000000,yes,6.0,0.0,0.0,0.0,0.0,100.000000,no
3,BA Business Management,no,yes,no,White,Female,yes,no,no,no,...,NaN,42.000000,yes,6.0,0.0,0.0,0.0,0.0,100.000000,no
4,BA Business Management Enterpreneurship and In...,no,no,no,Asian,Male,no,yes,yes,yes,...,59.0,54.333333,yes,4.0,2.0,0.0,2.0,0.0,100.000000,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1028,BA,yes,no,no,Other ethnic background,Female,yes,no,yes,no,...,NaN,45.000000,yes,6.0,0.0,0.0,0.0,1.0,100.000000,no
1029,BA,yes,no,no,NaN,Male,no,yes,yes,yes,...,NaN,77.000000,yes,6.0,0.0,0.0,0.0,0.0,100.000000,no
1030,BA,no,yes,no,Asian,Female,yes,no,no,no,...,NaN,33.000000,no,1.0,1.0,2.0,4.0,1.0,33.333333,yes
1031,BA,no,yes,no,Other ethnic background,Male,no,no,no,yes,...,NaN,76.000000,yes,6.0,0.0,0.0,0.0,0.0,100.000000,no
1032,BA,no,yes,no,Other ethnic background,Female,no,no,no,no,...,NaN,80.000000,yes,6.0,0.0,0.0,0.0,0.0,100.000000,no

In [11]:
data_uni.size

37188

In [12]:
data_uni.head(10)

,Course,UCAS,25 Above,Disability,Ethnicity,Gender,desertion,British,English native Language,Parent He attendance,...,GPA year 3,Overall GPA,Progress,First Sit,Second Sit,Fails,No Submissions,Late Submission,Pass,Re Takes
0,BA Business Manangement Enterpreneurship and I...,no,no,no,Asian,Male,no,no,no,yes,...,43.0,62.000000,yes,3.0,3.0,0.0,2.0,2.0,100.000000,yes
1,BA Business Management,no,no,no,White,Male,yes,no,no,yes,...,NaN,36.000000,no,1.0,2.0,5.0,3.0,0.0,83.333333,no
2,BA Business Management Enterpreneurship and In...,no,no,no,Asian,Male,yes,yes,yes,yes,...,NaN,41.000000,yes,6.0,0.0,0.0,0.0,0.0,100.000000,no
3,BA Business Management,no,yes,no,White,Female,yes,no,no,no,...,NaN,42.000000,yes,6.0,0.0,0.0,0.0,0.0,100.000000,no
4,BA Business Management Enterpreneurship and In...,no,no,no,Asian,Male,no,yes,yes,yes,...,59.0,54.333333,yes,4.0,2.0,0.0,2.0,0.0,100.000000,no
5,BA Business Management Enterpreneurship and In...,yes,no,no,Asian,Male,no,yes,yes,yes,...,43.0,45.000000,yes,3.0,3.0,0.0,0.0,1.0,100.000000,no
6,BA Business Management Marketing,yes,no,no,White,Male,no,no,yes,no,...,79.0,75.666667,yes,4.0,2.0,0.0,0.0,2.0,100.000000,no
7,BA Business Management Enterpreneurship and In...,yes,no,no,White,Male,no,yes,yes,no,...,61.0,63.000000,yes,3.0,3.0,0.0,3.0,0.0,100.000000,no
8,BA Business Management Enterpreneurship and In...,yes,no,no,White,Male,no,yes,yes,no,...,44.0,59.333333,yes,6.0,0.0,0.0,0.0,0.0,100.000000,no
9,BA Business Management,yes,no,no,White,Female,no,yes,yes,no,...,67.0,66.333333,yes,6.0,0.0,0.0,1.0,1.0,100.000000,no


##exploring data
##creating data exploration report

In [16]:
from pandas_profiling import ProfileReport

In [46]:
report = ProfileReport(data_uni)
report.to_file(output_file= "report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

##cleaning data
* Normalising Values

##

In [86]:
def trimmer(df):
    column_list = []

    for (columnName, columnData) in df.iteritems():
       
        if columnData.dtype == "object":

            df_replace = columnData.str.strip()

            column_list.append(df_replace)
        else:
            column_list.append(columnData)
            

    return (pd.DataFrame(column_list))

trimmer(data_uni)

,0,1,2,3,4,5,6,7,8,9,...,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032
Course,BA Business Manangement Enterpreneurship and I...,BA Business Management,BA Business Management Enterpreneurship and In...,BA Business Management,BA Business Management Enterpreneurship and In...,BA Business Management Enterpreneurship and In...,BA Business Management Marketing,BA Business Management Enterpreneurship and In...,BA Business Management Enterpreneurship and In...,BA Business Management,...,BA,BA,BA,BA,BA,BA,BA,BA,BA,BA
UCAS,no,no,no,no,no,yes,yes,yes,yes,yes,...,yes,yes,yes,yes,yes,yes,yes,no,no,no
25 Above,no,no,no,yes,no,no,no,no,no,no,...,no,yes,no,yes,yes,no,no,yes,yes,yes
Disability,no,no,no,no,no,no,no,no,no,no,...,no,no,no,no,no,no,no,no,no,no
Ethnicity,Asian,White,Asian,White,Asian,Asian,White,White,White,White,...,Asian,White,NaN,NaN,NaN,Other ethnic background,NaN,Asian,Other ethnic background,Other ethnic background
Gender,Male,Male,Male,Female,Male,Male,Male,Male,Male,Female,...,Male,Male,Male,Female,Male,Female,Male,Female,Male,Female
desertion,no,yes,yes,yes,no,no,no,no,no,no,...,no,no,no,no,no,yes,no,yes,no,no
British,no,no,yes,no,yes,yes,no,yes,yes,yes,...,no,yes,yes,no,yes,no,yes,no,no,no
English native Language,no,no,yes,no,yes,yes,yes,yes,yes,yes,...,no,NaN,NaN,no,no,yes,yes,no,no,no
Parent He attendance,yes,yes,yes,no,yes,yes,no,no,no,no,...,yes,no,yes,yes,yes,no,yes,no,yes,no
Polar 4 Score,NaN,2.0,NaN,3.0,NaN,3.0,5.0,NaN,2.0,2.0,...,5.0,3.0,NaN,3.0,2.0,2.0,4.0,1.0,4.0,NaN
SLC,no,yes,yes,yes,yes,yes,no,yes,no,no,...,yes,yes,yes,yes,yes,yes,yes,no,yes,no
Care Leaver,no,no,no,no,no,no,no,no,no,no,...,no,no,NaN,NaN,NaN,NaN,no,no,no,no
Student Visa,yes,no,no,no,no,no,yes,no,no,no,...,no,no,no,no,no,no,no,no,no,yes
Refugee,no,no,no,no,no,no,no,no,no,no,...,no,no,no,no,no,no,no,no,no,no
London Permanent Residence,yes,no,yes,yes,yes,yes,no,yes,yes,no,...,no,no,no,no,yes,no,yes,no,no,no
UCAS Points,98.0,101.0,129.0,110.0,130.0,112.0,89.0,103.0,128.0,91.0,...,107.0,103.0,100.0,113.0,118.0,102.0,109.0,104.0,101.0,104.0
English,5.0,5.0,4.0,9.0,6.0,6.0,6.0,4.0,4.0,4.0,...,6.0,5.0,5.0,3.0,5.0,4.0,4.0,6.0,6.0,8.0
Maths,4.0,5.0,4.0,8.0,5.0,4.0,5.0,5.0,4.0,4.0,...,7.0,6.0,4.0,6.0,5.0,4.0,4.0,5.0,6.0,4.0
A Levels,yes,yes,yes,yes,yes,no,yes,yes,no,no,...,no,no,yes,no,yes,yes,yes,yes,no,no
Btec,no,no,no,no,no,yes,no,no,yes,no,...,yes,yes,no,yes,no,no,no,no,yes,no
Previous work,yes,yes,yes,yes,yes,no,no,no,no,no,...,no,yes,yes,no,yes,yes,yes,yes,no,no
Bursary,no,yes,no,no,no,no,no,no,yes,no,...,no,no,no,no,yes,no,no,no,no,no
Attendance,86.0,55.0,57.0,48.0,83.0,71.0,96.0,67.0,89.0,92.0,...,96.0,67.0,70.0,64.0,96.0,55.0,66.0,42.0,60.0,71.0
AWM year 1,85.0,40.0,41.0,41.0,55.0,46.0,78.0,43.0,76.0,49.0,...,80.0,40.0,53.0,73.0,68.0,45.0,77.0,33.0,76.0,80.0
AWM year 2,58.0,32.0,NaN,43.0,49.0,46.0,70.0,85.0,58.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWM year 3,43.0,NaN,NaN,NaN,59.0,43.0,79.0,61.0,44.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Overall AWM,62.0,36.0,41.0,42.0,54.333333,45.0,75.666667,63.0,59.333333,66.333333,...,80.0,40.0,53.0,73.0,68.0,45.0,77.0,33.0,76.0,80.0
Progress,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,...,yes,yes,yes,yes,yes,yes,yes,no,yes,yes
First Sit,3.0,1.0,6.0,6.0,4.0,3.0,4.0,3.0,6.0,6.0,...,6.0,1.0,6.0,3.0,3.0,6.0,6.0,1.0,6.0,6.0
Second Sit,3.0,2.0,0.0,0.0,2.0,3.0,2.0,3.0,0.0,0.0,...,0.0,5.0,0.0,3.0,3.0,0.0,0.0,1.0,0.0,0.0
Fails,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
No Submissions,2.0,3.0,0.0,0.0,2.0,0.0,0.0,3.0,0.0,1.0,...,0.0,3.0,0.0,2.0,1.0,0.0,0.0,4.0,0.0,0.0
Late Submission,2.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,...,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
Pass,100.0,83.333333,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,33.333333,100.0,100.0

In [89]:
data_uni_df = trimmer(data_uni)
data_uni_df = data_uni_df.transpose( copy = True)

,Course,UCAS,25 Above,Disability,Ethnicity,Gender,desertion,British,English native Language,Parent He attendance,...,AWM year 2,AWM year 3,Overall AWM,Progress,First Sit,Second Sit,Fails,No Submissions,Late Submission,Pass
0,BA Business Manangement Enterpreneurship and I...,no,no,no,Asian,Male,no,no,no,yes,...,58.0,43.0,62.0,yes,3.0,3.0,0.0,2.0,2.0,100.0
1,BA Business Management,no,no,no,White,Male,yes,no,no,yes,...,32.0,NaN,36.0,no,1.0,2.0,5.0,3.0,0.0,83.333333
2,BA Business Management Enterpreneurship and In...,no,no,no,Asian,Male,yes,yes,yes,yes,...,NaN,NaN,41.0,yes,6.0,0.0,0.0,0.0,0.0,100.0
3,BA Business Management,no,yes,no,White,Female,yes,no,no,no,...,43.0,NaN,42.0,yes,6.0,0.0,0.0,0.0,0.0,100.0
4,BA Business Management Enterpreneurship and In...,no,no,no,Asian,Male,no,yes,yes,yes,...,49.0,59.0,54.333333,yes,4.0,2.0,0.0,2.0,0.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1028,BA,yes,no,no,Other ethnic background,Female,yes,no,yes,no,...,NaN,NaN,45.0,yes,6.0,0.0,0.0,0.0,1.0,100.0
1029,BA,yes,no,no,NaN,Male,no,yes,yes,yes,...,NaN,NaN,77.0,yes,6.0,0.0,0.0,0.0,0.0,100.0
1030,BA,no,yes,no,Asian,Female,yes,no,no,no,...,NaN,NaN,33.0,no,1.0,1.0,2.0,4.0,1.0,33.333333
1031,BA,no,yes,no,Other ethnic background,Male,no,no,no,yes,...,NaN,NaN,76.0,yes,6.0,0.0,0.0,0.0,0.0,100.0
1032,BA,no,yes,no,Other ethnic background,Female,no,no,no,no,...,NaN,NaN,80.0,yes,6.0,0.0,0.0,0.0,0.0,100.0

#generating report with normalised values

In [90]:

report = ProfileReport(data_uni_df)
report.to_file(output_file= "report2.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [91]:
data_uni_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Course                      1031 non-null   object
 1   UCAS                        1033 non-null   object
 2   25 Above                    1033 non-null   object
 3   Disability                  1033 non-null   object
 4   Ethnicity                   1020 non-null   object
 5   Gender                      1033 non-null   object
 6   desertion                   1033 non-null   object
 7   British                     962 non-null    object
 8   English native Language     964 non-null    object
 9   Parent He attendance        996 non-null    object
 10  Polar 4 Score               802 non-null    object
 11  SLC                         1033 non-null   object
 12  Care Leaver                 875 non-null    object
 13  Student Visa                964 non-null    object
 14  Refugee                     1026 non-null   object
 15  London Permanent Residence  1028 non-null   object
 16  UCAS Points                 979 non-null    object
 17  English                     873 non-null    object
 18  Maths                       872 non-null    object
 19  A Levels                    973 non-null    object
 20  Btec                        924 non-null    object
 21  Previous work               1030 non-null   object
 22  Bursary                     871 non-null    object
 23  Attendance                  1032 non-null   object
 24  AWM year 1                  1032 non-null   object
 25  AWM year 2                  923 non-null    object
 26  AWM year 3                  764 non-null    object
 27  Overall AWM                 1032 non-null   object
 28  Progress                    1032 non-null   object
 29  First Sit                   1032 non-null   object
 30  Second Sit                  1025 non-null   object
 31  Fails                       1032 non-null   object
 32  No Submissions              1032 non-null   object
 33  Late Submission             1032 non-null   object
 34  Pass                        1032 non-null   object
dtypes: object(35)
memory usage: 282.6+ KB

##inputing missing values

In [ ]:
data_inpt =

In [69]:
#from sklearn.impute import SimpleImputer





#imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
#imputer.fit(X[:, 1:3])
#X[:, 1:3] = imputer.transform(X[:, 1:3])
#print(X)