In [18]:
### Data Cleaning

In [19]:
# importing libraries
import pandas as pd
import numpy as np

Reading dataset

In [20]:
data_uni = pd.read_excel("Data Uni Dissertation.xlsx")

data_uni

,Course,UCAS,25 Above,Disability,Ethnicity,Gender,British,English native Language,Parent He attendance,Polar_4_Score,...,Overall AWM,Progression,First Sit,Second Sit,Fails,No Submissions,Late Submission,Pass,Re Takes,desertion
0,BA Business Manangement Enterpreneurship and I...,no,no,no,Asian,Male,no,no,yes,4.0,...,62.000000,yes,3,3.0,0,2,2,100.000000,yes,no
1,BA Business Management,no,no,no,White,Male,no,no,yes,2.0,...,36.000000,no,1,2.0,5,3,0,83.333333,no,yes
2,BA Business Management Enterpreneurship and In...,no,no,no,Asian,Male,yes,yes,yes,4.0,...,41.000000,yes,6,0.0,0,0,0,100.000000,no,yes
3,BA Business Management,no,yes,no,White,Female,no,no,no,3.0,...,42.000000,yes,6,0.0,0,0,0,100.000000,no,yes
4,BA Business Management Enterpreneurship and In...,no,no,no,White,Male,yes,yes,yes,4.0,...,54.333333,yes,4,2.0,0,2,0,100.000000,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1028,BA,yes,no,no,Other ethnic background,Female,no,yes,no,1.0,...,45.000000,yes,6,0.0,0,0,1,100.000000,no,yes
1029,BA,yes,no,no,NaN,Male,yes,yes,yes,4.0,...,77.000000,yes,6,0.0,0,0,0,100.000000,no,no
1030,BA,no,yes,no,Asian,Female,no,no,no,1.0,...,33.000000,no,1,1.0,2,4,1,33.333333,yes,yes
1031,BA,no,yes,no,Other ethnic background,Male,no,no,yes,4.0,...,76.000000,yes,6,0.0,0,0,0,100.000000,no,no
1032,BA,no,yes,no,Other ethnic background,Female,no,no,no,NaN,...,80.000000,yes,6,0.0,0,0,0,100.000000,no,no

Exploring Data

In [21]:
#generating profiling report

from pandas_profiling import ProfileReport
##report = ProfileReport(data_uni)
#report.to_file(output_file= "report.html")

Cleaning Data

In [22]:
# Dealing with  inconsistent values

def trimmer(df):
    column_list = []

    for (columnName, columnData) in df.iteritems():
       
        if columnData.dtype == "object":

            df_replace = columnData.str.strip()

            column_list.append(df_replace)
        else:
            column_list.append(columnData)
            

    return (pd.DataFrame(column_list))

trimmer(data_uni)

,0,1,2,3,4,5,6,7,8,9,...,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032
Course,BA Business Manangement Enterpreneurship and I...,BA Business Management,BA Business Management Enterpreneurship and In...,BA Business Management,BA Business Management Enterpreneurship and In...,BA Business Management Enterpreneurship and In...,BA Business Management Marketing,BA Business Management Enterpreneurship and In...,BA Business Management Enterpreneurship and In...,BA Business Management,...,BA,BA,BA,BA,BA,BA,BA,BA,BA,BA
UCAS,no,no,no,no,no,yes,yes,yes,yes,yes,...,yes,yes,yes,yes,yes,yes,yes,no,no,no
25 Above,no,no,no,yes,no,no,no,no,no,no,...,no,yes,no,yes,yes,no,no,yes,yes,yes
Disability,no,no,no,no,no,no,no,no,no,no,...,no,no,no,no,no,no,no,no,no,no
Ethnicity,Asian,White,Asian,White,White,Asian,White,White,White,White,...,Asian,White,NaN,NaN,NaN,Other ethnic background,NaN,Asian,Other ethnic background,Other ethnic background
Gender,Male,Male,Male,Female,Male,Male,Male,Male,Male,Female,...,Male,Male,Male,Female,Male,Female,Male,Female,Male,Female
British,no,no,yes,no,yes,yes,no,yes,yes,yes,...,no,yes,yes,no,yes,no,yes,no,no,no
English native Language,no,no,yes,no,yes,yes,yes,yes,yes,yes,...,no,NaN,NaN,no,no,yes,yes,no,no,no
Parent He attendance,yes,yes,yes,no,yes,yes,no,no,no,no,...,yes,no,yes,yes,yes,no,yes,no,yes,no
Polar_4_Score,4.0,2.0,4.0,3.0,4.0,3.0,5.0,4.0,2.0,NaN,...,5.0,3.0,4.0,3.0,2.0,1.0,4.0,1.0,4.0,NaN
SLC,no,yes,yes,yes,yes,yes,no,yes,no,no,...,yes,yes,yes,yes,yes,yes,yes,no,yes,no
Care Leaver,no,no,no,no,no,no,no,no,no,no,...,no,no,NaN,NaN,NaN,NaN,no,no,no,no
Student Visa,yes,no,no,no,no,no,yes,no,no,no,...,no,no,no,no,no,no,no,no,no,yes
Refugee,no,no,no,no,no,no,no,no,no,no,...,no,no,no,no,no,no,no,no,no,no
London Permanent Residence,yes,no,yes,yes,yes,yes,no,yes,yes,no,...,no,no,no,no,yes,no,yes,no,no,no
UCAS Points,98.0,101.0,129.0,110.0,130.0,112.0,89.0,103.0,128.0,91.0,...,107.0,103.0,100.0,113.0,118.0,102.0,109.0,104.0,101.0,104.0
English,5.0,5.0,4.0,9.0,6.0,6.0,6.0,4.0,4.0,4.0,...,6.0,5.0,5.0,3.0,5.0,4.0,4.0,6.0,6.0,8.0
Maths,4.0,5.0,4.0,8.0,5.0,4.0,5.0,5.0,4.0,4.0,...,7.0,6.0,4.0,6.0,5.0,4.0,4.0,5.0,6.0,4.0
A Levels,yes,yes,yes,yes,yes,no,yes,yes,no,no,...,no,no,yes,no,yes,yes,yes,yes,no,no
Btec,no,no,no,no,no,yes,no,no,yes,no,...,yes,yes,no,yes,no,no,no,no,yes,no
Previous work,yes,yes,yes,yes,yes,no,no,no,no,no,...,no,yes,yes,no,yes,yes,yes,yes,no,no
Bursary,no,yes,no,no,no,no,no,no,yes,no,...,no,no,no,no,yes,no,no,no,no,no
Attendance,86,55,57,48,83,71,96,67,89,92,...,96,67,70,64,96,55,66,42,60,71
AWM year 1,85,40,41,41,55,46,78,43,76,49,...,80,40,53,73,68,45,77,33,76,80
AWM year 2,58.0,32.0,NaN,43.0,49.0,46.0,70.0,85.0,58.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWM year 3,43.0,NaN,NaN,NaN,59.0,43.0,79.0,61.0,44.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Overall AWM,62.0,36.0,41.0,42.0,54.333333,45.0,75.666667,63.0,59.333333,66.333333,...,80.0,40.0,53.0,73.0,68.0,45.0,77.0,33.0,76.0,80.0
Progression,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,...,yes,yes,yes,yes,yes,yes,yes,no,yes,yes
First Sit,3,1,6,6,4,3,4,3,6,6,...,6,1,6,3,3,6,6,1,6,6
Second Sit,3.0,2.0,0.0,0.0,2.0,3.0,2.0,3.0,0.0,0.0,...,0.0,5.0,0.0,3.0,3.0,0.0,0.0,1.0,0.0,0.0
Fails,0,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
No Submissions,2,3,0,0,2,0,0,3,0,1,...,0,3,0,2,1,0,0,4,0,0
Late Submission,2,0,0,0,0,1,2,0,0,1,...,1,0,1,1,0,1,0,1,0,0
Pass,100.0,83.333333,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,33.333333,100.0,100.0
Re Takes,yes,no,no,no,no,no,no,no,no,no,...,no,no,no,no,no,no,no,yes,no,no
desertion,no,yes,yes,yes,no,no,no,no,no,no,...,no,no,no,no,no,yes,no,yes,no,no

In [23]:
# creating a new df after trimming 
data_uni_df = trimmer(data_uni)
data_uni_df = data_uni_df.transpose( copy = True)

#saving the new data frame
data_uni_df.to_csv("data_uni.csv", index = False)
data_uni_2 = pd.read_csv("data_uni.csv")

imputting missing values

In [24]:
#filling nan with zeros
data_uni_2.iloc[:, [24,25,29]]= data_uni_df.iloc[:, [24,25,29]].fillna(0)

data_uni_2.isna().sum()

Course                          2
UCAS                            0
25 Above                        0
Disability                      0
Ethnicity                      13
Gender                          0
British                        71
English native Language        69
Parent He attendance           37
Polar_4_Score                 118
SLC                             0
Care Leaver                   158
Student Visa                   69
Refugee                         7
London Permanent Residence      5
UCAS Points                    54
English                       160
Maths                         161
A Levels                       60
Btec                          109
Previous work                   3
Bursary                       162
Attendance                      0
AWM year 1                      0
AWM year 2                      0
AWM year 3                      0
Overall AWM                     0
Progression                     0
First Sit                       0
Second Sit                      0
Fails                           0
No Submissions                  0
Late Submission                 0
Pass                            0
Re Takes                        0
desertion                       0
dtype: int64

In [25]:
#imputing missing values with most frequent values
from sklearn.impute import SimpleImputer


imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(data_uni_2.iloc[:, [0,4,6,7,8,9,11,12,13,14,18,19,20,21]])
data_uni_2.iloc[:, [0,4,6,7,8,9,11,12,13,14,18,19,20,21]]= imputer.transform(data_uni_2.iloc[:, [0,4,6,7,8,9,11,12,13,14,18,19,20,21]])

In [26]:
#imputing missing values with median values
data_num = data_uni_2.select_dtypes(include="number")

imputer_2 = SimpleImputer(missing_values=np.nan, strategy='median')
imputer_2.fit(data_num.iloc[:, [1,2,3]])
data_num.iloc[:, [1,2,3]] = imputer_2.transform(data_num.iloc[:, [1,2,3]])

data_uni_2.iloc[:, [15,16,17]] = data_num.iloc[:, [1,2,3]]

In [27]:
#Generating report with clean data
#report2 = ProfileReport(data_uni_2)
#report2.to_file(output_file= "report2.html")

Dropping Highly Correlated and unseful Features

In [28]:
data_uni_2= data_uni_2.drop(["Course","AWM year 1", "AWM year 2", "AWM year 3", "Overall AWM", "Attendance"], axis = 1)

Encoding Feautures

In [29]:
#ethinicty binarisation 

data_uni_2.Ethnicity = data_uni_2.Ethnicity.str.replace("White", "0")
data_uni_2.Ethnicity = data_uni_2.Ethnicity.str.replace("Asian", "1")
data_uni_2.Ethnicity = data_uni_2.Ethnicity.str.replace("Black/Black British African", "1")
data_uni_2.Ethnicity = data_uni_2.Ethnicity.str.replace("Other ethnic background", "1")

print(data_uni_2.Ethnicity)

0       1
1       0
2       1
3       0
4       0
       ..
1028    1
1029    0
1030    1
1031    1
1032    1
Name: Ethnicity, Length: 1033, dtype: object

In [30]:
# Polar 4 Score Binarisation
data_uni_2.Polar_4_Score = data_uni_2.Polar_4_Score.replace(5, 0)
data_uni_2.Polar_4_Score = data_uni_2.Polar_4_Score.replace(4, 0)
data_uni_2.Polar_4_Score = data_uni_2.Polar_4_Score.replace(3, 0)
data_uni_2.Polar_4_Score = data_uni_2.Polar_4_Score.replace(2, 1)

print(data_uni_2.Polar_4_Score)

0       0.0
1       1.0
2       0.0
3       0.0
4       0.0
       ...
1028    1.0
1029    0.0
1030    1.0
1031    0.0
1032    0.0
Name: Polar_4_Score, Length: 1033, dtype: float64

In [31]:
#splitting X and y
y = data_uni_2["desertion"]
X = data_uni_2.drop(["desertion"], axis = 1)

In [32]:
#Encoding dependent Variable
from sklearn.preprocessing import LabelEncoder
from collections import Counter

le = LabelEncoder()
y_enc = le.fit_transform(y)
Counter(y)

Counter({'no': 875, 'yes': 158})

Test 1

In [33]:
#Encoding independant variables

from sklearn.preprocessing import OneHotEncoder


X_cat = X.select_dtypes(exclude="number")

enc = OneHotEncoder(handle_unknown= "error", sparse = False, drop = "if_binary")

X_cat= np.array(enc.fit_transform(X_cat))

X_cat = pd.DataFrame(X_cat )


X_cat.columns = enc.get_feature_names()
print(X_cat)

      x0_yes  x1_yes  x2_yes  x3_1  x4_Male  x5_yes  x6_yes  x7_NO  x7_no  \
0        0.0     0.0     0.0   1.0      1.0     0.0     0.0    0.0    0.0
1        0.0     0.0     0.0   0.0      1.0     0.0     0.0    0.0    0.0
2        0.0     0.0     0.0   1.0      1.0     1.0     1.0    0.0    0.0
3        0.0     1.0     0.0   0.0      0.0     0.0     0.0    0.0    1.0
4        0.0     0.0     0.0   0.0      1.0     1.0     1.0    0.0    0.0
...      ...     ...     ...   ...      ...     ...     ...    ...    ...
1028     1.0     0.0     0.0   1.0      0.0     0.0     1.0    0.0    1.0
1029     1.0     0.0     0.0   0.0      1.0     1.0     1.0    0.0    0.0
1030     0.0     1.0     0.0   1.0      0.0     0.0     0.0    0.0    1.0
1031     0.0     1.0     0.0   1.0      1.0     0.0     0.0    0.0    0.0
1032     0.0     1.0     0.0   1.0      0.0     0.0     0.0    0.0    1.0

      x7_yes  ...  x9_yes  x10_yes  x11_yes  x12_yes  x13_yes  x14_yes  \
0        1.0  ...     0.0      1.0      0.0      1.0      1.0      0.0
1        1.0  ...     0.0      0.0      0.0      0.0      1.0      0.0
2        1.0  ...     0.0      0.0      0.0      1.0      1.0      0.0
3        0.0  ...     0.0      0.0      0.0      1.0      1.0      0.0
4        1.0  ...     0.0      0.0      0.0      1.0      1.0      0.0
...      ...  ...     ...      ...      ...      ...      ...      ...
1028     0.0  ...     0.0      0.0      0.0      0.0      1.0      0.0
1029     1.0  ...     0.0      0.0      0.0      1.0      1.0      0.0
1030     0.0  ...     0.0      0.0      0.0      0.0      1.0      0.0
1031     1.0  ...     0.0      0.0      0.0      0.0      0.0      1.0
1032     0.0  ...     0.0      1.0      0.0      0.0      0.0      0.0

      x15_yes  x16_yes  x17_yes  x18_yes
0         1.0      0.0      1.0      1.0
1         1.0      1.0      0.0      0.0
2         1.0      0.0      1.0      0.0
3         1.0      0.0      1.0      0.0
4         1.0      0.0      1.0      0.0
...       ...      ...      ...      ...
1028      1.0      0.0      1.0      0.0
1029      1.0      0.0      1.0      0.0
1030      1.0      0.0      0.0      1.0
1031      0.0      0.0      1.0      0.0
1032      0.0      0.0      1.0      0.0

[1033 rows x 21 columns]

In [34]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_num = X.select_dtypes(include="number")
X_num_colnames= X_num.columns 
a = sc.fit_transform(X_num.to_numpy())
X_num = pd.DataFrame(a)
X_num.columns = X_num_colnames

X_num_cat = pd.concat((X_num, X_cat), axis =1)

print(X_num_cat)

      Polar_4_Score  UCAS Points   English     Maths  First Sit  Second Sit  \
0         -0.556105    -0.550745  0.050193 -0.732941  -0.781923    0.940436
1          1.798223    -0.398411  0.050193  0.172715  -2.316066    0.144149
2         -0.556105     1.023382 -0.735405 -0.732941   1.519291   -1.448426
3         -0.556105     0.058594  3.192587  2.889681   1.519291   -1.448426
4         -0.556105     1.074160  0.835791  0.172715  -0.014851    0.144149
...             ...          ...       ...       ...        ...         ...
1028       1.798223    -0.347632 -0.735405 -0.732941   1.519291   -1.448426
1029      -0.556105     0.007816 -0.735405 -0.732941   1.519291   -1.448426
1030       1.798223    -0.246076  0.835791  0.172715  -2.316066   -0.652139
1031      -0.556105    -0.398411  0.835791  1.078370   1.519291   -1.448426
1032      -0.556105    -0.246076  2.406988 -0.732941   1.519291   -1.448426

         Fails  No Submissions  Late Submission      Pass  ...  x9_yes  \
0    -0.429378        0.561764         1.483798  0.420941  ...     0.0
1     3.394308        1.295396        -1.035123 -0.423655  ...     0.0
2    -0.429378       -0.905499        -1.035123  0.420941  ...     0.0
3    -0.429378       -0.905499        -1.035123  0.420941  ...     0.0
4    -0.429378        0.561764        -1.035123  0.420941  ...     0.0
...        ...             ...              ...       ...  ...     ...
1028 -0.429378       -0.905499         0.224338  0.420941  ...     0.0
1029 -0.429378       -0.905499        -1.035123  0.420941  ...     0.0
1030  1.100096        2.029027         0.224338 -2.957443  ...     0.0
1031 -0.429378       -0.905499        -1.035123  0.420941  ...     0.0
1032 -0.429378       -0.905499        -1.035123  0.420941  ...     0.0

      x10_yes  x11_yes  x12_yes  x13_yes  x14_yes  x15_yes  x16_yes  x17_yes  \
0         1.0      0.0      1.0      1.0      0.0      1.0      0.0      1.0
1         0.0      0.0      0.0      1.0      0.0      1.0      1.0      0.0
2         0.0      0.0      1.0      1.0      0.0      1.0      0.0      1.0
3         0.0      0.0      1.0      1.0      0.0      1.0      0.0      1.0
4         0.0      0.0      1.0      1.0      0.0      1.0      0.0      1.0
...       ...      ...      ...      ...      ...      ...      ...      ...
1028      0.0      0.0      0.0      1.0      0.0      1.0      0.0      1.0
1029      0.0      0.0      1.0      1.0      0.0      1.0      0.0      1.0
1030      0.0      0.0      0.0      1.0      0.0      1.0      0.0      0.0
1031      0.0      0.0      0.0      0.0      1.0      0.0      0.0      1.0
1032      1.0      0.0      0.0      0.0      0.0      0.0      0.0      1.0

      x18_yes
0         1.0
1         0.0
2         0.0
3         0.0
4         0.0
...       ...
1028      0.0
1029      0.0
1030      1.0
1031      0.0
1032      0.0

[1033 rows x 31 columns]

Test 2

In [36]:
from sklearn.compose import ColumnTransformer, make_column_selector
from sklearn.preprocessing import OneHotEncoder


ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(sparse= False, drop = "if_binary", handle_unknown= "error"), make_column_selector(dtype_exclude="number"))], remainder='passthrough')

X_test_2 = np.array(ct.fit_transform(X))
X_test_2 = pd.DataFrame(X_test_2)

print(X_test_2)

       0    1    2    3    4    5    6    7    8    9   ...   21     22   23  \
0     0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0  ...  0.0   98.0  5.0
1     0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  ...  1.0  101.0  5.0
2     0.0  0.0  0.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  ...  0.0  129.0  4.0
3     0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  ...  0.0  110.0  9.0
4     0.0  0.0  0.0  0.0  1.0  1.0  1.0  0.0  0.0  1.0  ...  0.0  130.0  6.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...  ...
1028  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  ...  1.0  102.0  4.0
1029  1.0  0.0  0.0  0.0  1.0  1.0  1.0  0.0  0.0  1.0  ...  0.0  109.0  4.0
1030  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  ...  1.0  104.0  6.0
1031  0.0  1.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0  ...  0.0  101.0  6.0
1032  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  ...  0.0  104.0  8.0

       24   25   26   27   28   29          30
0     4.0  3.0  3.0  0.0  2.0  2.0  100.000000
1     5.0  1.0  2.0  5.0  3.0  0.0   83.333333
2     4.0  6.0  0.0  0.0  0.0  0.0  100.000000
3     8.0  6.0  0.0  0.0  0.0  0.0  100.000000
4     5.0  4.0  2.0  0.0  2.0  0.0  100.000000
...   ...  ...  ...  ...  ...  ...         ...
1028  4.0  6.0  0.0  0.0  0.0  1.0  100.000000
1029  4.0  6.0  0.0  0.0  0.0  0.0  100.000000
1030  5.0  1.0  1.0  2.0  4.0  1.0   33.333333
1031  6.0  6.0  0.0  0.0  0.0  0.0  100.000000
1032  4.0  6.0  0.0  0.0  0.0  0.0  100.000000

[1033 rows x 31 columns]