In [15]:
import pandas as pd
import numpy as np

In [40]:
from sklearn.impute import SimpleImputer

data_uni_2 = pd.read_csv("data_uni.csv")

data_uni_2.iloc[:, [24,25,29]]= data_uni_2.iloc[:, [24,25,29]].fillna(0)
column_miss= list(data_uni_2.columns[data_uni_2.isnull().any()])

# IMPUTER ===========================================================================

imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

data_uni_2[column_miss]= imputer.fit_transform(data_uni_2[column_miss])

data_uni_2= data_uni_2.drop(["Course","AWM year 1", "AWM year 2", "AWM year 3", "Overall AWM", "Progression", "Attendance"], axis = 1)

# FORMATING MANUALLY ================================================================

#ethinicty binarisation 
data_uni_2.Ethnicity = data_uni_2.Ethnicity.str.replace("White", "0")
data_uni_2.Ethnicity = data_uni_2.Ethnicity.str.replace("Asian", "1")
data_uni_2.Ethnicity = data_uni_2.Ethnicity.str.replace("Black/Black British African", "1")
data_uni_2.Ethnicity = data_uni_2.Ethnicity.str.replace("Other ethnic background", "1")

# Polar 4 Score Binarisation
data_uni_2.Polar_4_Score = data_uni_2.Polar_4_Score.replace(5, 0)
data_uni_2.Polar_4_Score = data_uni_2.Polar_4_Score.replace(4, 0)
data_uni_2.Polar_4_Score = data_uni_2.Polar_4_Score.replace(3, 0)
data_uni_2.Polar_4_Score = data_uni_2.Polar_4_Score.replace(2, 1)

#splitting X and y ==================================================================
y = data_uni_2["desertion"]
X = data_uni_2.drop(["desertion"], axis = 1)

In [17]:
#data_uni_2.info()

In [41]:
from pycaret.classification import *

classify = setup(data= data_uni_2, target = "desertion", log_experiment = True, log_plots= True, remove_multicollinearity= True, session_id=2610, multicollinearity_threshold=0.8, log_profile= True, fix_imbalance=True, feature_selection = True, feature_selection_threshold=0.8,  pca= True, pca_components=0.95, numeric_features=["First Sit", "Fails", "No Submissions", "Late Submission", "Pass",  "Maths", "UCAS Points"])

                               Description             Value
0                               session_id              2610
1                                   Target         desertion
2                              Target Type            Binary
3                            Label Encoded     no: 0, yes: 1
4                            Original Data        (1033, 29)
5                           Missing Values             False
6                         Numeric Features                 9
7                     Categorical Features                19
8                         Ordinal Features             False
9                High Cardinality Features             False
10                 High Cardinality Method              None
11                   Transformed Train Set          (723, 2)
12                    Transformed Test Set          (310, 2)
13                      Shuffle Train-Test              True
14                     Stratify Train-Test             False
15                          Fold Generator   StratifiedKFold
16                             Fold Number                10
17                                CPU Jobs                -1
18                                 Use GPU             False
19                          Log Experiment              True
20                         Experiment Name  clf-default-name
21                                     USI              4ce4
22                         Imputation Type            simple
23          Iterative Imputation Iteration              None
24                         Numeric Imputer              mean
25      Iterative Imputation Numeric Model              None
26                     Categorical Imputer          constant
27  Iterative Imputation Categorical Model              None
28           Unknown Categoricals Handling    least_frequent
29                               Normalize             False
30                        Normalize Method              None
31                          Transformation             False
32                   Transformation Method              None
33                                     PCA              True
34                              PCA Method            linear
35                          PCA Components              0.95
36                     Ignore Low Variance             False
37                     Combine Rare Levels             False
38                    Rare Level Threshold              None
39                         Numeric Binning             False
40                         Remove Outliers             False
41                      Outliers Threshold              None
42                Remove Multicollinearity              True
43             Multicollinearity Threshold               0.8
44             Remove Perfect Collinearity              True
45                              Clustering             False
46                    Clustering Iteration              None
47                     Polynomial Features             False
48                       Polynomial Degree              None
49                    Trignometry Features             False
50                    Polynomial Threshold              None
51                          Group Features             False
52                       Feature Selection              True
53                Feature Selection Method           classic
54            Features Selection Threshold               0.8
55                     Feature Interaction             False
56                           Feature Ratio             False
57                   Interaction Threshold              None
58                           Fix Imbalance              True
59                    Fix Imbalance Method             SMOTE

In [42]:
compare_models(include=["rf", "ada","gbc"])

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=2610)

In [20]:
rf= create_model("rf", cross_validation= True)

In [21]:
rf_results= pull()
rf_scores =rf_results.loc[["Mean"]]
print(rf_scores)

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
Fold
Mean    0.8963  0.9252  0.7788  0.6358  0.6978  0.6361  0.6425

In [22]:
rf= create_model("rf", cross_validation= False)

   Accuracy     AUC  Recall  Prec.      F1   Kappa     MCC
0    0.9161  0.9268  0.7609    0.7  0.7292  0.6797  0.6805

In [23]:
tuned_rf= tune_model(rf, optimize = "F1")

In [24]:
tuned_rf_results = pull()
tuned_rf_scores = tuned_rf_results.loc[["Mean"]]
print(tuned_rf_scores)

      Accuracy     AUC  Recall   Prec.     F1   Kappa     MCC
Fold
Mean    0.9212  0.9378  0.8659  0.7052  0.773  0.7262  0.7349

In [25]:
final_rf = calibrate_model(tuned_rf)

In [26]:
evaluate_model(final_rf)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param

In [27]:
gbc = create_model("gbc",cross_validation= False)

   Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
0     0.929  0.9368  0.8696  0.7143  0.7843  0.7423  0.7475

In [28]:
gbc = create_model("gbc",cross_validation= True)

In [29]:
tuned_gbc= tune_model(gbc, optimize= "F1")

In [30]:
final_gbc = calibrate_model(tuned_gbc)

In [31]:
evaluate_model(final_gbc)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param

In [32]:
ada = create_model("ada",cross_validation= False)

   Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
0    0.9258  0.9216  0.8478  0.7091  0.7723  0.7284  0.7325

In [33]:
ada = create_model("ada",cross_validation= True)

In [34]:
tune_ada = tune_model(ada, optimize="F1")

In [35]:
final_ada = calibrate_model(tune_ada)

In [36]:
evaluate_model(final_ada)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param

In [37]:
# creating models comparison table
#rf scores

In [38]:
list_scores=[ final_ada_scores, final_gbc_scores, final_rf_scores, tune_ada_scores, tuned_gbc_scores, tuned_rf_scores, ada_scores, rf_scores, gbc_scores]

NameError: name 'final_ada_scores' is not defined

In [ ]:
print(rf_scores)

      Accuracy     AUC  Recall   Prec.      F1  Kappa     MCC
Fold
Mean    0.8977  0.9256  0.7788  0.6405  0.7009   0.64  0.6459

In [ ]:
#final_gbc_scores
#final_rf_scores
#tune_ada_scores
#tuned_gbc_scores
#tuned_rf_scores
#ada_scores
rf_scores
#gbc_scores

      Accuracy     AUC  Recall   Prec.      F1  Kappa     MCC
Fold
Mean    0.8977  0.9256  0.7788  0.6405  0.7009   0.64  0.6459

In [ ]:
final_ada_scores.set_axis(["ada"], axis="index")

     Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
ada    0.8908  0.9413  0.8826  0.6129  0.7177  0.6538  0.6744

In [ ]:
results

NameError: name 'results' is not defined

In [ ]:
print(final_ada_scores)
results

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
Fold
Mean    0.8908  0.9413  0.8826  0.6129  0.7177  0.6538  0.6744

                  0
0  final_ada_scores
1   tune_ada_scores