In [89]:
import pandas as pd
import numpy as np

In [90]:
from sklearn.impute import SimpleImputer

data_uni_2 = pd.read_csv("data_uni.csv")

data_uni_2.iloc[:, [24,25,29]]= data_uni_2.iloc[:, [24,25,29]].fillna(0)
column_miss= list(data_uni_2.columns[data_uni_2.isnull().any()])

# IMPUTER ===========================================================================

imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

data_uni_2[column_miss]= imputer.fit_transform(data_uni_2[column_miss])

data_uni_2= data_uni_2.drop(["Course","AWM year 1", "AWM year 2", "AWM year 3", "Overall AWM", "Progression", "Attendance"], axis = 1)

# FORMATING MANUALLY ================================================================

#ethinicty binarisation 
data_uni_2.Ethnicity = data_uni_2.Ethnicity.str.replace("White", "0")
data_uni_2.Ethnicity = data_uni_2.Ethnicity.str.replace("Asian", "1")
data_uni_2.Ethnicity = data_uni_2.Ethnicity.str.replace("Black/Black British African", "1")
data_uni_2.Ethnicity = data_uni_2.Ethnicity.str.replace("Other ethnic background", "1")

# Polar 4 Score Binarisation
data_uni_2.Polar_4_Score = data_uni_2.Polar_4_Score.replace(5, 0)
data_uni_2.Polar_4_Score = data_uni_2.Polar_4_Score.replace(4, 0)
data_uni_2.Polar_4_Score = data_uni_2.Polar_4_Score.replace(3, 0)
data_uni_2.Polar_4_Score = data_uni_2.Polar_4_Score.replace(2, 1)

#splitting X and y ==================================================================
y = data_uni_2["desertion"]
X = data_uni_2.drop(["desertion"], axis = 1)

In [91]:
from pycaret.classification import *
classify = setup(data= data_uni_2, target = "desertion", log_experiment = True, log_plots= True, remove_multicollinearity= True, session_id=1434, multicollinearity_threshold=0.8, log_profile= True, fix_imbalance=True, feature_selection = False, normalize = False,  pca= False, pca_components=0.9, numeric_features=[ "First Sit", "Fails","No Submissions", "Late Submission", "Pass",  "Maths", "UCAS Points"])

                               Description             Value
0                               session_id              1434
1                                   Target         desertion
2                              Target Type            Binary
3                            Label Encoded     no: 0, yes: 1
4                            Original Data        (1033, 29)
5                           Missing Values             False
6                         Numeric Features                 9
7                     Categorical Features                19
8                         Ordinal Features             False
9                High Cardinality Features             False
10                 High Cardinality Method              None
11                   Transformed Train Set         (723, 28)
12                    Transformed Test Set         (310, 28)
13                      Shuffle Train-Test              True
14                     Stratify Train-Test             False
15                          Fold Generator   StratifiedKFold
16                             Fold Number                10
17                                CPU Jobs                -1
18                                 Use GPU             False
19                          Log Experiment              True
20                         Experiment Name  clf-default-name
21                                     USI              7d07
22                         Imputation Type            simple
23          Iterative Imputation Iteration              None
24                         Numeric Imputer              mean
25      Iterative Imputation Numeric Model              None
26                     Categorical Imputer          constant
27  Iterative Imputation Categorical Model              None
28           Unknown Categoricals Handling    least_frequent
29                               Normalize             False
30                        Normalize Method              None
31                          Transformation             False
32                   Transformation Method              None
33                                     PCA             False
34                              PCA Method              None
35                          PCA Components              None
36                     Ignore Low Variance             False
37                     Combine Rare Levels             False
38                    Rare Level Threshold              None
39                         Numeric Binning             False
40                         Remove Outliers             False
41                      Outliers Threshold              None
42                Remove Multicollinearity              True
43             Multicollinearity Threshold               0.8
44             Remove Perfect Collinearity              True
45                              Clustering             False
46                    Clustering Iteration              None
47                     Polynomial Features             False
48                       Polynomial Degree              None
49                    Trignometry Features             False
50                    Polynomial Threshold              None
51                          Group Features             False
52                       Feature Selection             False
53                Feature Selection Method           classic
54            Features Selection Threshold              None
55                     Feature Interaction             False
56                           Feature Ratio             False
57                   Interaction Threshold              None
58                           Fix Imbalance              True
59                    Fix Imbalance Method             SMOTE

In [92]:
compare_models(include=["rf", "ada","gbc"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=1434, verbose=0,
                       warm_start=False)

In [93]:
rf_2= create_model("rf", cross_validation= True)
rf_2_results = pull()
rf_scores = rf_2_results.loc[["Mean"]]

In [94]:
rf_test= create_model("rf", cross_validation= False)
rf_test_results = pull()

   Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
0    0.9484  0.9556  0.7556  0.8718  0.8095  0.7798  0.7825

In [95]:
tuned_rf_2= tune_model(rf_2, optimize = "Recall")
tuned_rf_2_results = pull()
tuned_rf_scores = tuned_rf_2_results.loc[["Mean"]]

In [96]:
final_rf_2 = calibrate_model(tuned_rf_2)
final_rf_2_results= pull()
final_rf_scores = final_rf_2_results.loc[["Mean"]]

In [97]:
evaluate_model(final_rf_2)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [98]:
gbc_test = create_model("gbc",cross_validation= False)
gbc_test_results= pull()

   Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
0    0.9484  0.9574     0.8  0.8372  0.8182  0.7881  0.7884

In [99]:
gbc_2 = create_model("gbc",cross_validation= True)
gbc_2_results= pull()
gbc_scores =gbc_2_results.loc[["Mean"]]

In [100]:
tuned_gbc= tune_model(gbc_2, optimize = "Recall")
tuned_gbc_results = pull()
tuned_gbc_scores = tuned_gbc_results.loc[["Mean"]]

In [101]:
final_gbc = calibrate_model(tuned_gbc)
final_gbc_results= pull()
final_gbc_scores = final_gbc_results.loc[["Mean"]]

In [102]:
evaluate_model(final_gbc)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [103]:
ada_test= create_model("ada",cross_validation= False)
ada_test_results= pull()

   Accuracy     AUC  Recall  Prec.      F1   Kappa     MCC
0    0.9387  0.9331  0.7333  0.825  0.7765  0.7411  0.7428

In [104]:
ada= create_model("ada",cross_validation= True)
ada_results= pull()
ada_scores =ada_results.loc[["Mean"]]

In [105]:
tuned_ada= tune_model(ada, optimize = "Recall")
tuned_ada_results = pull()
tuned_ada_scores = tuned_ada_results.loc[["Mean"]]

In [106]:
final_ada = calibrate_model(tuned_ada)
final_ada_results= pull()
final_ada_scores = final_ada_results.loc[["Mean"]]

In [107]:
evaluate_model(final_ada)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [127]:
# results table

resum= pd.concat([ada_scores, gbc_scores,  rf_scores, ada_test_results,gbc_test_results], axis =0)
#resum = pd.DataFrame([ada_scores, gbc_scores,  rf_scores, ada_test_results,gbc_test_results,rf_test_results, final_ada_scores, final_gbc_scores, final_rf_scores, tuned_ada_scores, tuned_gbc_scores, tuned_rf_scores ], index=)
res

TypeError: Index(...) must be called with a collection of some kind, 'ada' was passed